.divas{
    background-color: rgb(238, 234, 244);
    border-radius: 16px;
    display: inline-flex;
    border: 1px solid rgb(215, 202, 236);
    width: auto;
}
.fooo_btn{
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 32px;
    padding: 0px 16px;
    background-color: rgb(122, 110, 170);
    color: rgb(255, 255, 255);
}
.cCEQkN {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 32px;
    padding: 0px 16px;
    background-color: rgb(122, 110, 170);
    color: rgb(255, 255, 255);
}
.bIaMpx {
    background-color: transparent;
    color: rgb(122, 110, 170);
}
.fot_p{
    color: rgb(31, 199, 212);
    font-weight: 600;
    line-height: 1.5;
}
.foter_a{
    
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: rgb(122, 110, 170);
    color: rgb(255, 255, 255);

}
.lgAukG svg {
    fill: rgb(122, 110, 170) !important;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    transition-property: background-color, opacity;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}

.loho{
    /* color: rgb(122, 110, 170) !important;
    border: 1px solid red !important; */
 
}