.modal{
    height: 100vh !important;
    padding: 0px !important;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1pxsolidrgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}
.modas{
    text-align: left !important;
    background-color: rgb(238, 234, 244);
    border-radius: 16px;
    box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
    color: rgb(40, 13, 95) !important;
    display: block;
    font-size: 16px;
    height: 48px;
    outline: 0px;
    padding: 0px 16px;
    width: 100%;
    border: 1px solid rgb(215, 202, 236);
}
.cir{
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    padding: 6px;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(246, 246, 246);
    opacity: 0.4;
}
.op1{
    opacity: 0.4;
}
.img_cir{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-top: 10px;
}

.op{
    opacity: 1;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* overflow-y: scroll; */
   
    height: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1pxsolidrgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}
.scroll{
    overflow-y: scroll;
    height:400px;
}
.moda_r0{
    justify-content: space-between !important;
}
.sdfgh .modal-content{
    height:100% !important

}
.para{
    margin-top: 10px;
    padding-left: 10px;
}
.blue{
    color: rgb(40, 13, 95);
    font-weight:600 ;
    font-size: 18px;
}
.immgs{
    margin-top: 0 !important;
}
.blue1{
    color: rgb(40, 13, 95);
    /* font-weight: 600; */
    margin-left: 5px !important;
    font-size: 16px;
}
.bg_headerr{
    background: linear-gradient(139.73deg, rgb(229, 253, 255) 0%, rgb(243, 239, 255) 100%) !important;
}

::-webkit-scrollbar {
    width:10px;
   }
   
   /* Track */
   ::-webkit-scrollbar-track {
     /* box-shadow: inset 0 0 5px grey;  */
     border-radius: 10px;
   }
    
   /* Handle */
   ::-webkit-scrollbar-thumb {
    background-color: rgb(113, 76, 187); 
     border-radius: 5px;
   }
   
   /* Handle on hover */
   


@media only screen and (max-width:600px){
  .cir{
    margin-top: 10px;
  }
  /* .xcv{
    width: 100%;
  } */
  .xcv {
    width: 100%;
    justify-content: center;
    align-items: center;
}
  .h_Para{
    font-size: 12px!important;
    padding: 0px!important;
  }
}